<hr class="white-line">
<div class="container">
    <div class="row d-flex justify-content-md-between justify-content-sm-center text-white">
        <section
            class="col-xl-8 order-xl-0 order-1 row-sm d-flex flex-column justify-content-center align-items-center border border-3 tech-section">
            <div class="container px-5 pb-3 my-3 fs-3">
                <h1 class="mb-0">Habilidades</h1>
                <div class="bg-white" style="width: 6em; height: 2px;"></div>
                <h1>Técnicas</h1>
            </div>
            <div class="container mb-4">
                <div class="row-md d-flex justify-content-evenly flex-wrap flex-sm-nowrap">
                    <a href="https://www.java.com" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.backend.isActive, 'tech-skill-active': techData.backend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/java.svg" alt="Java logo">
                            <p class="fs-md-5 text-white pt-2">Java</p>
                        </div>
                    </a>
                    <a href="https://spring.io/projects/spring-boot" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.backend.isActive, 'tech-skill-active': techData.backend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/springboot.svg" alt="Spring-Boot logo">
                            <p class="fs-md-5 text-white pt-2">Spring-Boot</p>
                        </div>
                    </a>
                    <a href="https://spring.io/projects/spring-security" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.backend.isActive, 'tech-skill-active': techData.backend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/springsecurity.svg" alt="Spring-Security logo">
                            <p class="fs-md-5 text-white pt-2">Spring-Security</p>
                        </div>
                    </a>
                    <a href="https://hibernate.org" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.backend.isActive, 'tech-skill-active': techData.backend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/hibernate.svg"  alt="Hibernate logo">
                            <p class="fs-md-5 text-white pt-2">Hibernate</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="container-sm mb-4">
                <div class="row-md d-flex justify-content-evenly flex-wrap flex-sm-nowrap">
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/js.svg" alt="JS logo">
                            <p class="fs-md-5 text-white pt-2">JavaScript</p>
                        </div>
                    </a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/html5.svg" alt="HTML5 logo">
                            <p class="fs-md-5 text-white pt-2">HTML 5</p>
                        </div>
                    </a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/css3.svg" alt="CSS3 logo">
                            <p class="fs-md-5 text-white pt-2">CSS 3</p>
                        </div>
                    </a>
                    <a href="https://angular.io" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/angular.svg" alt="Angular logo">
                            <p class="fs-md-5 text-white pt-2">Angular</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="container-sm mb-4">
                <div class="row-md d-flex justify-content-evenly flex-wrap flex-sm-nowrap">
                    <a href="https://getbootstrap.com" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/bootstrap.svg" alt="Bootstrap logo">
                            <p class="fs-md-5 text-white pt-2">Bootstrap</p>
                        </div>
                    </a>
                    <a href="https://www.typescriptlang.org" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.frontend.isActive, 'tech-skill-active': techData.frontend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/ts.svg" alt="TypeScript logo">
                            <p class="fs-md-5 text-white pt-2">TypeScript</p>
                        </div>
                    </a>
                    <a href="https://www.mysql.com" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.banco.isActive, 'tech-skill-active': techData.banco.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/mysql.svg" alt="Mysql logo">
                            <p class="fs-md-5 text-white pt-2">MySQL</p>
                        </div>
                    </a>
                    <a href="https://www.postgresql.org" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.banco.isActive, 'tech-skill-active': techData.banco.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/postgresql.svg" alt="PostgreSQL logo">
                            <p class="fs-md-5 text-white pt-2">PostgreSQL</p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="container-sm mb-4 align-items-stretch">
                <div class="row-md d-flex justify-content-evenly flex-wrap flex-sm-nowrap">
                    <a href="https://www.docker.com" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.devops.isActive, 'tech-skill-active': techData.devops.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/docker.svg" alt="Docker logo">
                            <p class="fs-md-5 text-white pt-2">Docker</p>
                        </div>
                    </a>
                    <a href="https://www.mongodb.com" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.banco.isActive, 'tech-skill-active': techData.banco.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/mongodb.svg" alt="MongoDB logo">
                            <p class="fs-md-5 text-white pt-2">MongoDB</p>
                        </div>
                    </a>
                    <a href="https://junit.org/junit5/" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.backend.isActive, 'tech-skill-active': techData.backend.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/junit5.svg" alt="JUnit5 logo">
                            <p class="fs-md-5 text-white pt-2">JUnit 5</p>
                        </div>
                    </a>
                    <a href="https://www.linux.org" target="_blank" class="tech-skill border border-3 animate__animated text-decoration-none"
                        [ngClass]="{'animate__tada': techData.devops.isActive, 'tech-skill-active': techData.devops.isActive}">
                        <div class="d-flex flex-column align-items-center">
                            <img src="assets/logo/linux.svg" alt="Linux logo">
                            <p class="fs-md-5 text-white pt-2">Linux</p>
                        </div>
                    </a>
                </div>
            </div>
            
        </section>
        <div class="col-md col-12 d-flex flex-xl-column flex-wrap flex-md-nowrap flex-sm-wrap align-items-stretch px-sm-0 px-md-0 ps-xl-2 ps-xxl-2 mb-2 mb-xl-0">
            <section
                class="container d-flex flex-column order-1 order-lg-0 border border-3 tech-section justify-content-center align-items-center py-xl-5 me-1 mb-2">
                <h1 class="text-decoration-underline text-center my-5" style="font-size: 3em !important;">
                    Estatísticas
                </h1>
                <div class="mb-3" style="position: relative; height:20em; width:20em">
                    <canvas id="chart"></canvas>
                </div>
            </section>
            <section
                class="container d-flex flex-column border border-3 tech-section justify-content-center align-items-center py-xl-5 me-1 mb-2 mb-xl-0">
                <h1 class="text-decoration-underline text-center" style="font-size: 3em !important">
                    Bagdes
                </h1>
                <a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=6EA15FDF819DB92B6FA554A9FD14AEE618C95E5F949298482F887492A4F24343"
                    target="_blank" class="d-flex justify-content-center align-items-center" style="position: relative; height:20em; width:20em">
                    <img src="assets/badges/oracle-foundation.png" class="img-fluid"
                        style="position: relative; height:15em; width:15em"
                        alt="Badge da certificação oracle foundation associate">
                </a>
            </section>
        </div>
    </div>
</div>
<hr class="white-line">