<hr class="white-line">
<section class="container text-center border border-3 border-light " id="projects-section">
    <h1 class="pt-3">Projetos</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pt-5">
                <div class="card">
                    <img src="assets/projetos-img/stuff.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">Stuffing Tavern</h5>
                        <p class="card-text">Uma parada de uma grande viagem virtual!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>