section{
    color: white;
}

#projects-div {
  padding-top: 5em;
  padding-bottom: 5em;
  border-radius: 25px;
  border-color: #885257ff !important;
  background: rgb(114, 28, 36);
  background: radial-gradient(
    circle,
    rgba(89, 23, 33, 1) 6%,
    rgba(114, 28, 36, 1) 52%
  );
}

#first-hidden-card{
    width: 101%;
    height: 5em;
}