<hr class="white-line">
<section class="container text-center border border-3 border-light " id="projects-section">
    <p class="pt-3 text-white display-4 text-decoration-underline">Projetos</p>
    <div class="container">
        <div class="row">

            @for (project of projectData; track $index) {
            <!-- Card -->
            <div class="col-md-4 mt-5" data-bs-toggle="modal" [attr.data-bs-target]="'#idModal'+project.id+$index">
                <div class="card" id="card-project" style="height: 100%;">
                    <img src="{{ project.thumbnailURL }}" class="card-img-top" alt="{{ project.image.alt }}"
                        style="height: 90%; object-fit: cover;" id="{{'thumbnail'+ project.title + $index}}">
                    <div class="card-body" style="height: 8em;">
                        <h5 class="card-title flex-fill">{{ project.title }}</h5>
                        <p class="card-text">{{ project.shortExplication }}</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal modal-xl fade" [id]="'idModal'+project.id+$index" tabindex="-1"
                [attr.aria-labelledby]="'idModal'+project.id+$index" aria-hidden="true" data-bs-theme="dark">
                <div class="modal-dialog text-white">
                    <div class="modal-content bg-dark">
                        <div class="modal-header" style="text-align: center;">
                            <h1 class=" modal-title fs-2"> {{ project.title }} </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div
                                    class="row d-flex align-items-center justify-content-center py-4 border border-light-subtle border-1 mx-2">
                                    <carousel>
                                        @for (image of project.image.imageUrl; track $index) {
                                        <slide>
                                            <img src="{{ image }}" alt="{{ project.image.alt }}"
                                                style="display: block; width: 100%;"
                                                id="{{'modal'+ project.title + $index}}">
                                        </slide>
                                        }
                                    </carousel>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="row border-bottom border-2">
                                        <h5 class="fs-4 my-3"> {{ project.shortExplication }} </h5>
                                        <p class="text-align-justify fs-6"> {{ project.longText }} </p>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <h4 class="my-3">Tech</h4>
                                            <div class="container">
                                                @for (item of project.tech; track $index) {
                                                <button type="button"
                                                    class="btn btn-outline-secondary btn-lg text-white border-white border-1 m-1 "
                                                    style="font-size: small;">{{ item }}</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ project.github }}" target="_blank" class="text-white">
                                <button class="btn btn-dark border-light-subtle mt-5 mx-2">
                                    <i class="fa-brands fa-github fa-1x "> Github </i>
                                </button>
                            </a>
                            @if (project.deploy !== "") {
                            <a href="{{ deploy(project.deploy) }}" target="_blank" class="text-white">
                                <button type="button" class="btn btn-dark border-light-subtle mt-5 mx-2">
                                    <i class="fa-solid fa-globe fa-1x "> Deploy </i>
                                </button>
                            </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>