<hr class="white-line">
<section class="container text-center border border-3 border-light " id="projects-section">
    <p class="pt-3 text-white fs-1 text-decoration-underline">Projects</p>
    <div class="container">
        <div class="row">
            @for (project of projectData; track $index) {
            <!-- Card -->
            <div  class="col-md-4 mt-5" data-bs-toggle="modal" data-bs-target="#modalProject">
                <div class="card" id="card-project">
                    <img src="{{ project.thumbnailURL }}" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title flex-fill">{{ project.title }}</h5>
                        <p class="card-text">{{ project.shortExplication }}</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal modal-xl fade" id="modalProject" tabindex="-1" aria-labelledby="#modalProject"
                aria-hidden="true" data-bs-theme="dark">
                <div class="modal-dialog text-white">
                    <div class="modal-content bg-dark">
                        <div class="modal-header" style="text-align: center;">
                            <h1 class=" modal-title fs-2"> {{ project.title }} </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="container py-4 border border-light-subtle border-1 mx-2">
                                    @defer (on timer(5500ms)) {
                                    <div id="carouselExampleIndicators" class="carousel slide">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="3" aria-label="Slide 4"></button>

                                        </div>
                                        <div class="carousel-inner">
                                            @for (image of project.image.imageUrl; track $index) {
                                            <div class="carousel-item active" id="{{'modal'+$index}}">
                                                <img src="{{ image }}" class="img-fluid d-block w-100"
                                                    alt="{{ project.image.alt }}">
                                            </div>
                                            }
                                        </div>
                                        <button class="carousel-control-prev bg-light-subtle" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next bg-light-subtle" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                    }@placeholder {
                                    <div class="spinner-border text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    }
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="row border-bottom border-2">
                                        <h5 class="fs-4 my-3"> {{ project.shortExplication }} </h5>
                                        <p class="text-align-justify fs-6"> {{ project.longText }} </p>
                                    </div>
                                    <div class="row">
                                        <div class="container">
                                            <h4 class="my-3">Tech</h4>
                                            <div class="container">
                                                @for (item of project.tech; track $index) {
                                                <button type="button"
                                                    class="btn btn-outline-secondary btn-lg text-white border-white border-1 m-1 "
                                                    style="font-size: small;">{{ item }}</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-dark border-light-subtle mt-5">
                                <i class="fa-brands fa-github fa-2x "> Github </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>