
<div class="row">
    <div class="container">
        <footer class="pt-3 my-4">
            <p class="text-center text-muted">© 2002 - Cleyton de Oliveira Rocha /
                cleytoodeoliveirarocha&#64;gmail.com</p>
                <ul class="nav justify-content-center border-top pt-3" >
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/cleytonorocha" class="nav-link px-2 text-muted contact-icon">
                            <i class="fa-brands fa-linkedin fa-2x" ></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Cleyton-ORocha" class="nav-link px-2 text-muted contact-icon">
                            <i class="fa-brands fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://wa.me/5531996709760?text=Ol%C3%A1%2C+cheguei+atrav%C3%A9s+do+link+do+seu+portf%C3%B3lio.+Podemos+conversar%3F" class="nav-link px-2 text-muted contact-icon">
                            <i class="fa-brands fa-whatsapp fa-2x"></i>
                        </a>
                    </li>
                </ul>
        </footer>
    </div>
</div>