<section class="row ms-0 align-items-center" id="main">
    <section class="col-md-5 d-flex h-100 justify-content-evenly align-items-center">
        <div id="bg-photo-blur" class="d-none d-md-block"></div>
        <div id="bg-photo" class="d-none d-md-block" >></div>
        <div id="photo" class="d-none d-md-block">
            <img class="img-fluid" src="assets/photo.png"
                alt="Foto do meu rosto sorrindo (Pardo, cabelo curto, camisa social simples cinza)">
        </div>
    </section>
    <div id="vertical-line" class="col-sm-1 mt-5 d-none d-md-block"></div>
    <section class="col d-flex flex-column align-self-center">
        <div class="row">
                <h1 class="fw-normal text-nowrap text-center border-bottom border-3 border-black col-sm-4 p-0 m-0 pt-1 mb-3 ">Hello World!</h1>
        </div>
       
        <div class="row text-align-justify">
            <p class="col-md-11">
                I'm a developer with extensive knowledge of the Java language, covering all basic
                concepts including Object-Oriented and Functional Programming. I have expertise
                in ORM with JDBC and Hibernate. Additionally, i'm familiar with the Spring Framework,
                implementing unit tests and TDD with JUnit and implemeting patterns in projects.
            </p>
            <p class="col-md-11">
                As a back-end developer, I value the best architectural approach to enhance the
                application's performance, optimizing not only response speed but also system
                scalability and security.
            </p>
        </div>
    </section>
</section>