<section class="row align-items-center" id="main">
    <section class="col-md-5 d-flex justify-content-evenly align-items-center">
        @defer(){
            <div id="photo">
                <img class="img-fluid" src="assets/photo.png"
                alt="Foto do meu rosto sorrindo (Pardo, cabelo curto, camisa social simples cinza)">
            </div>}
            <div id="bg-photo"></div>
    </section>
    <div id="vertical-line" class="col-sm-1 mt-5 d-none d-lg-block"></div>
    <section class="col d-flex flex-column justify-content-center align-items-md-start align-items-sm-center pe-5">
        <div class="col-md-3 col-sm-10 border-bottom border-3 border-black p-0 m-0 pt-1 mb-3 ">
            <h1 class="fw-normal text-nowrap text-center">Hello World!</h1>
        </div>
        <div class="container text-align-justify">
            <p class="col-md-10">{{ firstParagraph }}</p>
            <p class="col-md-10">{{ secoundParagraph }}</p>
        </div>
    </section>
</section>
<hr class="white-line opacity-100">