main>div{
    margin-bottom: 15%;
}
.white-line{
    border: 0;
    height: 5px;
    background-color: #e3e3e3ff;
    margin-top: 4em;
    margin-bottom: 5em;

}
#projects{
    height: 40em;
    border-width: 5px;
    background-color: rgb(114, 28, 36);
}