<nav class="row d-flex align-items-center bg-light border-bottom border-3 py-2">
    <div class="col">
        <div class="container">
            <a href="#" class="d-flex align-items-center text-decoration-none text-black">
                <img class="img-fluid align-text-end" src="assets/logo/nav-logo.svg"
                    alt="Logo no java envolto em um círculo vermelho com centro branco pouco deslocado para o sudeste"
                    width="40" height="30" class="d-inline-block align-text-top">
                <span class="">Cleyton_ORocha</span>
            </a>
        </div>
    </div>
    <div class="col d-flex justify-content-end text-center">
        <a href="#top" class="me-3">
            <img src="assets/logo/home.svg" alt="Home logo">
        </a>
        <a href="#projects" class="me-3">
            <img src="assets/logo/code.svg" alt="Code logo">
        </a>
        <a href="#tech"class="me-3" >
            <img src="assets/logo/tech.svg" alt="Tech logo">
        </a>
        <a href="#contact" class="me-3">
            <img src="assets/logo/contato.svg" alt="Contato logo">
        </a>
    </div>
</nav>