<nav class="row navbar-light bg-light align-items-center py-2">
    <div class="col-3 pb-1">
        <a href="/" class=" d-flex align-items-center text-decoration-none text-black">
            <img class="img-fluid align-text-end" src="assets/logo/nav-logo.svg"
                alt="Logo no java envolto em um círculo vermelho com centro branco pouco deslocado para o sudeste"
                width="40" height="30" class="d-inline-block align-text-top">
            <span class="">Cleyton_ORocha</span>
        </a>
    </div>
    <div class="col">
        <ul class="d-flex justify-content-end mb-0">
            <li class="col-md-1 ms-0 w-auto ms-2">
                <a href=""><img src="assets/logo/home.svg" alt="A"></a>
            </li>
            <li class="col-md-1 ms-0 w-auto ms-2">
                <a href=""><img src="assets/logo/code.svg" alt="B"></a>
            </li>
            <li class="col-md-1 ms-0 w-auto ms-2">
                <a href=""><img src="assets/logo/tech.svg" alt="C"></a>
            </li>
            <li class="col-md-1 ms-0 w-auto ms-2">
                <a href=""><img src="assets/logo/contato.svg" alt="D"></a>
            </li>
        </ul>
    </div>
    <hr class="my-2">
</nav>